:root {
	--blue: #4285f4;
	--red: #db4437;
	--yellow: #f4b400;
	--green: #0f9d58;

	--blue-light: #e7f0ff;
	--red-light: #fff3f3;
	--yellow-light: #fff7e0;
	--green-light: #e5f9e9;

	--blue-dark: #1d55b2;
	--red-dark: #c44536;
	--yellow-dark: #e0a100;
	--green-dark: #00542b;

	--blue-dim: #8da6d0;
	--red-dim: #d1a59b;
	--yellow-dim: #e1c882;
	--green-dim: #7fa894;

	--header-font: "Playfair Display";
	--body-font: "Roboto";
	--search-font: "Roboto Slab";
}

/* set css for general elements */

body {
	background-color: #2d2d2d;
	font-family: var(--body-font);

	background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.85), rgba(49, 49, 49, 0.6)),
		url("https://source.unsplash.com/collection/10626135");

	background-attachment: fixed;
	background-size: cover;
}

.big-section {
	display: inline-block;
	background-color: white;
	mix-blend-mode: normal;
	box-shadow: 0px 0px 5px #ffffff;

	border-radius: 15px;
	padding-left: 20px;

	margin: 15px;
}

h1 {
	font-family: var(--header-font);
	font-size: 1.4rem;
	margin-bottom: 0.5rem;
}

.blue {
	color: var(--blue);
}

.red {
	color: var(--red);
}

.yellow {
	color: var(--yellow);
}

.green {
	color: var(--green);
}

.vertical {
	border-left: 2px solid black;
	float: left;
}

.module {
	/* top right bottom left */
	margin: 0 25px 18px 14px;
}

.field {
	border: none;
	border-radius: 7px;

	padding: 3px 10px;

	margin: 5px;
	margin-left: 0;

	font-style: italic;
	font-weight: bold;
}

.field::placeholder {
	font-weight: normal;
}

button {
	border: none;
	border-radius: 7px;
	padding: 3px 8px;
	margin: 5px 2px;

	color: black;
}

.section-content {
	margin: auto 0;
}

/* grid for sections */

.grid {
	display: grid;

	grid-template-areas: "title title clear" "search search narrow" "find specific narrow" "find specific exclude";

	grid-template-columns: 32% 35% 33%;
	grid-template-rows: auto 30% 10% auto;

	padding: 1%;
	padding-top: 3%;
	margin: auto;

	max-width: 1100px;
}

/* hide sticky ver of title, clear button and search bar for desktop size */
.sticky {
	display: none;
}

/* page title */

.page-title {
	grid-area: title;

	color: white;
	text-align: right;
	font-size: 2.2rem;
	margin-top: 0;

	padding-bottom: 8px;
}

.clear-button {
	grid-area: clear;

	vertical-align: center;
	justify-self: right;

	width: 38%;
	height: 40px;

	font-family: var(--body-font);
	font-size: 0.9rem;

	padding: 11px;
	margin-right: 16px;
	border-radius: 13px;
	border: none;

	color: white;
	background-color: rgba(196, 196, 196, 0.4);
}

.clear-button:hover {
	background-color: #c4c4c4;
	color: black;
}

/* find pages section (blue) */
.find-pages {
	grid-area: find;
	display: grid;
}

.find-pages .vertical {
	box-shadow: -1px 0px 4px var(--blue-dim);
	height: 255px;
}

.find-pages .field {
	background-color: var(--blue-light);
	color: var(--blue-dark);
	width: 85%;
}

.find-pages .field::placeholder {
	color: var(--blue-dim);
}

.apart .field {
	width: 70px;
	margin: 2px 0;
	text-align: center;
	margin-right: 3px;
}

.apart #keyword2 {
	margin-left: 3px;
}

.apart #numWordsApart {
	width: 16px;
	margin-left: 2px;
}

/* specific section (red) */
.specific-pages {
	grid-area: specific;
	display: grid;
}

.specific-pages .vertical {
	box-shadow: -1px 0px 4px var(--red-dim);
	height: 266px;
}

.specific-pages .field {
	background-color: var(--red-light);
	color: var(--red-dark);

	width: 83%;
}

.specific-pages .field::placeholder {
	color: var(--red-dim);
}

.specific-pages .button {
	border-radius: 2px;
	margin: 0;

	color: var(--red-dim);
	background-color: var(--red-light);
}

.specific-pages .button:hover {
	background-color: #efafa9;
	color: #fff5f5;
	color: white;
}

.specific-pages .button-highlight {
	border-radius: 2px;
	margin: 0;

	color: white;
	font-weight: bold;
	background-color: var(--red-dark);
}

.sidenote {
	display: inline-block;
	font-size: 0.6rem;
	margin: 0;
	margin-left: 2px;
	padding: 0;
}

/* narrow down results section */
.narrow-results {
	grid-area: narrow;
	display: grid;
}

.narrow-results .vertical {
	box-shadow: -1px 0px 4px var(--yellow-dim);
	height: 148px;
}

.narrow-results .field {
	background-color: var(--yellow-light);
	color: var(--yellow-dark);
	width: 85%;
}

.narrow-results .field::placeholder {
	color: var(--yellow-dim);
}

.narrow-results .button {
	color: #2d2d2d;
	background-color: var(--yellow-light);
}

.narrow-results .button:hover {
	color: rgb(85, 74, 27);
	background-color: #f7e2a8;
}

.narrow-results .button-highlight {
	color: white;
	font-weight: 600;
	background-color: var(--yellow-dark);
}

/* exclude results section */
.exclude-results {
	grid-area: exclude;
	display: grid;
}

.exclude-results .vertical {
	box-shadow: -1px 0px 4px var(--green-dim);
	height: 216px;
}

.exclude-results .field {
	background-color: var(--green-light);
	color: var(--green-dark);
	width: 85%;
}

.exclude-results .field::placeholder {
	color: var(--green-dim);
}

.exclude-results .button {
	color: #2d2d2d;
	background-color: var(--green-light);
}

.exclude-results .button:hover {
	color: var(--green-light);
	background-color: #73a78a;
}

.exclude-results .button-highlight {
	color: white;
	font-weight: 600;
	background-color: var(--green-dark);
}

/* google search bar section */
.google-search-bar {
	grid-area: search;
}

.search-header {
	font-weight: normal;
	font-size: 1.6rem;

	margin-bottom: 20px;
}

.search-bar {
	position: relative;

	background: linear-gradient(0deg, #ffffff, #ffffff);
	box-shadow: inset 0px 0px 8px rgba(0, 0, 0, 0.3);
	border-radius: 14px;

	margin-top: 2%;
	margin-right: 4%;

	height: 65px;
}

#searchString,
#searchString2 {
	display: inline-block;

	font-family: var(--search-font);
	font-size: 1.1rem;
	margin: 20px;
	width: 82%;

	background-color: transparent;
	border: none;
}

#searchString {
	background-image: -webkit-linear-gradient(
		5deg,
		rgba(66, 133, 244, 1) 0%,
		rgba(15, 157, 88, 1) 41.15%,
		rgba(244, 180, 0, 1) 73.44%,
		rgba(219, 68, 55, 1) 100%
	);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.search-button {
	display: inline-block;

	width: 65px;
	height: 65px;

	/* places button on the right of search bar */
	position: Absolute;
	right: 0px;

	margin: 0;
	padding: 0;

	border-radius: 14px;
}

.search-button:hover {
	width: 69px;
	height: 69px;
	bottom: -2px;
}

.search-button:focus {
	width: 65px;
	height: 65px;
	bottom: 2px;
}

.search-button:hover .search-icon {
	fill: black;
}

.search-icon {
	position: absolute;
	bottom: 25%;
	left: 25%;
}

.search-background {
	display: block;
	width: 100%;
}

/* header section */
.header-section {
	color: transparent;
	margin: 0;
	padding: 0;
}

.social-media-section {
	display: inline-block;
	position: absolute;
	right: 2%;
	top: 3%;
}

.social-media-icon {
	display: inline-block;
	margin: 0 5px;
	fill: white;
	opacity: 0.7;
	height: 25px;
	width: 25px;
}

.social-media-icon:hover {
	opacity: 1;
}

.modal-section {
	margin: 2px;
}

.modal-button {
	font-family: var(--body-font);
	font-size: 0.9rem;
	font-weight: 500;

	padding: 13px;
	border-radius: 9px;

	margin-right: 6px;

	color: white;
	background-color: transparent;
	opacity: 0.93;
}

.modal-button:hover {
	color: white;
}

.help:hover {
	background: rgba(174, 174, 174, 0.4);
}

.example:hover {
	background-image: -webkit-linear-gradient(
		5deg,
		rgba(66, 133, 244, 0.6) 0%,
		rgba(15, 157, 88, 0.6) 41.15%,
		rgba(244, 180, 0, 0.6) 73.44%,
		rgba(219, 68, 55, 0.6) 100%
	);
}

/* 
Background of the Modal Box
 - a semi-transparent background when modal active 
 */
.modal {
	display: none; /* starts hidden */
	position: fixed;
	z-index: 1; /* top of screen */
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgb(0, 0, 0);
	background-color: rgba(0, 0, 0, 0.4);
}

/* Content of the Modal Box */
.modal-content {
	background-color: #ffffff;

	border-radius: 14px;
	margin: 6% auto; /* x% from top + auto-centered */
	padding: 20px;
	width: 80%; /* vary depending on screen dimensions */
	max-width: 500px;
	animation-name: animatetop;
	animation-duration: .4s;
}

.modal-text {
	margin-left: 5%;
}

.modal-header {
	margin: 28px 0 8px 3px;
}

/* add animation */
@keyframes animatetop {
	from {
		top: -300px;
		opacity: 0;
	}
	to {
		top: 0;
		opacity: 1;
	}
}

/* Close button! */
.close {
	color: #aaa;
	float: right; /* orientation of the close button */
	font-size: 28px;
	font-weight: bold;
}

.close:hover,
.close:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
}

ul {
	margin: 0;
}

.center {
	text-align: center;
}

/* responsive */

/* for small-medium devices */

@media (max-width: 1065px) {
	.grid {
		grid-template-columns: 50% 50%;
		grid-template-rows: 8% 20% 30% 10% auto;
		grid-template-areas: "sticky sticky" "sticky sticky" "find narrow" "find specific" "exclude specific";

		max-width: 800px;
		margin: auto auto;
		margin-bottom: 25px;

		padding-top: 0;
	}

	.header-section {
		padding: 0;
		margin: 0;
	}

	/* no background :( */
	body {
		background-color: linear-gradient(to bottom, rgba(0, 0, 0, 0.85), rgba(49, 49, 49, 0.6));
		background-image: none;
	}

	.sticky {
		grid-area: sticky;
		margin: 0;
		padding: 0;

		background-color: #2c2c2c;

		position: sticky;
		top: 0;

		display: grid;

		grid-template-columns: 50% auto;
		grid-template-rows: 30% auto;
		grid-template-areas: "title clear" "search search";
	}

	.page-title {
		text-align: left;
		margin-left: 19px;

		font-size: 2.1rem;

		margin-top: 20px;
	}

	.clear-button {
		margin-top: 26px;
		width: 130px;
	}

	/* don't show regular ver of page title, search bar, and clear button */
	.non-sticky {
		display: none;
	}
}

/* for smallest devices */
@media (max-width: 752px) {
	.grid {
		grid-template-columns: 50% 50%;
		grid-template-rows: 15% auto;
		grid-template-areas: "sticky sticky" "find find" "exclude exclude" "narrow narrow" "specific specific";

		max-width: 400px;
		margin: 40px auto;
	}

	.sticky {
		grid-template-columns: 70% auto;
		grid-template-rows: 28% auto;
	}

	.page-title {
		font-size: 1.6rem;
		align-self: flex-end;
	}

	.clear-button {
		position: relative;
		left: 15px;
		bottom: 5px;

		width: 100px;
		height: 25px;

		padding: 0;
		border-radius: 7px;

		font-size: 12px;
	}

	.search-header {
		font-size: 1.4rem;
	}

	.google-search-bar {
		margin: 0;
		height: 150px;
	}

	#searchString2 {
		font-size: 15px;
	}
}
