:root {
	--blue: #4285f4;
	--red: #db4437;
	--yellow: #f4b400;
	--green: #0f9d58;

	--blue-light: #e7f0ff;
	--red-light: #fff3f3;
	--yellow-light: #fff7e0;
	--green-light: #e5f9e9;

	--blue-dark: #1d55b2;
	--red-dark: #c44536;
	--yellow-dark: #e0a100;
	--green-dark: #00542b;

	--blue-dim: #8da6d0;
	--red-dim: #d1a59b;
	--yellow-dim: #e1c882;
	--green-dim: #7fa894;
}

/* set css for general elements */

body {
	background-color: #2d2d2d;
	font-family: Roboto;
}

.big-section {
	display: inline-block;
	background-color: white;
	padding: 10px;
	border-radius: 15px;

	background: rgba(255, 255, 255, 1);
	mix-blend-mode: normal;
	box-shadow: 0px 0px 5px #ffffff;
}

h1 {
	font-family: "Playfair Display";
	font-size: 1.4rem;
}

.module {
	margin: 20px;
	margin-left: 0;
}

.field {
	border: none;
	border-radius: 7px;

	padding: 3px 10px;

	margin: 5px;
	margin-left: 0;

	font-style: italic;
	font-weight: bold;
}

.field::placeholder {
	font-weight: normal;
}

/* find pages section (blue) */

#find-pages-header {
	color: var(--blue);
}

.find-pages .field {
	background-color: var(--blue-light);
	color: var(--blue-dark);
}

.find-pages .field::placeholder {
	color: var(--blue-dim);
}

.apart .field {
	width: 60px;
}

.apart #numWordsApart {
	width: 15px;
}

/* google search bar section */

.button {
	background-color: white;
	border: 1px solid black;
	color: black;
	padding: 1px 3px;
	text-align: center;
	text-decoration: none;
	font-family: sans-serif;
	display: inline-block;
	font-size: 17px;
	margin: 0px 0px;
	cursor: pointer;
	transition-duration: 0.4s;
}
