:root {
	--blue: #4285f4;
	--red: #db4437;
	--yellow: #f4b400;
	--green: #0f9d58;

	--blue-light: #e7f0ff;
	--red-light: #fff3f3;
	--yellow-light: #fff7e0;
	--green-light: #e5f9e9;

	--blue-dark: #1d55b2;
	--red-dark: #c44536;
	--yellow-dark: #e0a100;
	--green-dark: #00542b;

	--blue-dim: #8da6d0;
	--red-dim: #d1a59b;
	--yellow-dim: #e1c882;
	--green-dim: #7fa894;
}

/* set css for general elements */

body {
	background-color: #2d2d2d;
	font-family: Roboto;
}

.big-section {
	display: inline-block;
	background-color: white;
	mix-blend-mode: normal;
	box-shadow: 0px 0px 5px #ffffff;

	border-radius: 15px;
	padding-left: 20px;

	margin: 15px;
}

h1 {
	font-family: "Playfair Display";
	font-size: 1.4rem;
	margin-bottom: 0.5rem;
}

html {
	height: 100%;
}

.vertical {
	border-left: 2px solid black;
	float: left;
}

.module {
	/* top right bottom left */
	margin: 0 25px 18px 14px;
}

.field {
	border: none;
	border-radius: 7px;

	padding: 3px 10px;

	margin: 5px;
	margin-left: 0;

	font-style: italic;
	font-weight: bold;
}

.field::placeholder {
	font-weight: normal;
}

button {
	border: none;
	border-radius: 7px;
	padding: 3px 8px;
	margin: 5px 2px;

	color: black;
}

/* page title */

.page-title {
	color: white;
	text-align: center;
	font-size: 2rem;
	margin-top: 4%;
}

/* grid for sections */

.grid {
	display: grid;

	grid-template-areas: "search search narrow" "find specific narrow" "find specific exclude";
	grid-template-columns: 32% 35% 33%;
	grid-template-rows: 30% 10% auto;

	padding: 2%;
}

/* find pages section (blue) */
.find-pages {
	grid-area: find;
}

#find-pages-header {
	color: var(--blue);
}

.find-pages .vertical {
	box-shadow: -1px 0px 4px var(--blue-dim);
	height: 255px;
}

.find-pages .field {
	background-color: var(--blue-light);
	color: var(--blue-dark);
	width: 85%;
}

.find-pages .field::placeholder {
	color: var(--blue-dim);
}

.apart .field {
	width: 70px;
	margin: 2px 0;
	text-align: center;
	margin-right: 3px;
}

.apart #keyword2 {
	margin-left: 3px;
}

.apart #numWordsApart {
	width: 16px;
	margin-left: 2px;
}

/* specific section (red) */
.specific-pages {
	grid-area: specific;
}

#specific-header {
	color: var(--red);
}

.specific-pages .vertical {
	box-shadow: -1px 0px 4px var(--red-dim);
	height: 270px;
}

.specific-pages .field {
	background-color: var(--red-light);
	color: var(--red-dark);
}

.specific-pages .field::placeholder {
	color: var(--red-dim);
}

.specific-pages .button {
	border-radius: 2px;
	margin: 0;

	color: var(--red-dim);
	background-color: var(--red-light);
}

.specific-pages .button-highlight {
	border-radius: 2px;
	margin: 0;

	color: white;
	font-weight: bold;
	background-color: var(--red-dark);
}
/* narrow down results section */
.narrow-results {
	grid-area: narrow;
}

#narrow-header {
	color: var(--yellow);
}

.narrow-results .vertical {
	box-shadow: -1px 0px 4px var(--yellow-dim);
	height: 135px;
}

.narrow-results .field {
	background-color: var(--yellow-light);
	color: var(--yellow-dark);
	width: 85%;
}

.narrow-results .field::placeholder {
	color: var(--yellow-dim);
}

.narrow-results .button {
	color: #2d2d2d;
	background-color: var(--yellow-light);
}

.narrow-results .button-highlight {
	color: white;
	font-weight: 600;
	background-color: var(--yellow-dark);
}

/* exclude results section */
.exclude-results {
	grid-area: exclude;
}

#exclude-header {
	color: var(--green);
}

.exclude-results .vertical {
	box-shadow: -1px 0px 4px var(--green-dim);
	height: 208px;
}

.exclude-results .field {
	background-color: var(--green-light);
	color: var(--green-dark);
	width: 85%;
}

.exclude-results .field::placeholder {
	color: var(--green-dim);
}

.exclude-results .button {
	color: #2d2d2d;
	background-color: var(--green-light);
}

.exclude-results .button-highlight {
	color: white;
	font-weight: 600;
	background-color: var(--green-dark);
}

/* google search bar section */
.google-search-bar {
	grid-area: search;
}

.search-header {
	font-weight: normal;
	font-size: 1.5rem;
}

.search-bar {
	background: linear-gradient(0deg, #ffffff, #ffffff);
	box-shadow: inset 0px 0px 8px rgba(0, 0, 0, 0.3);
	border-radius: 14px;

	margin-top: 2%;
	margin-right: 4%;
}

#searchString {
	display: inline-block;

	font-family: "Roboto Slab";
	font-size: 1.3rem;
	margin: 20px;
	width: 82%;

	background-color: transparent;
	border: none;

	background: -webkit-linear-gradient(
		5deg,
		rgba(66, 133, 244, 1) 0%,
		rgba(15, 157, 88, 1) 41.15%,
		rgba(244, 180, 0, 1) 73.44%,
		rgba(219, 68, 55, 1) 100%
	);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.search-button {
	display: inline-block;
	border: none;
	border-radius: 14px;

	width: 70px;
	height: 70px;

	float: right;
}
